@if (ViewBag.BooksAuthor != null)
{
<h3>Books by Author <strong> @ViewData["AuthorName"] </strong> </h3>
  
        <table class="table table-bordered table-hover">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Auther</th>
            <th>Status Id</th>
            <th>Kind </th>
            <th colspan="2"> Actions </th>
        </tr>

        @foreach (var book in ViewBag.BooksAuthor)
        {

            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                @if (book.StatusId == 2)
                {
                    <td style="background-color:red">Not Available</td>
                }
                else if (book.StatusId == 1)
                {
                    <td style="background-color:lightgreen"> Available</td>
                }
                <td>@book.Kind.Name</td>
                <td>
                    <button class="btn btn-info "> <a style=" text-decoration:none; color:azure; " href="/Book/Edit/@book.Id">  Edit </a> </button>

                </td>

                <td>

                    <form asp-action="Delete" asp-controller="Book" method="post">
                        <input type="hidden" name="id" value="@book.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>

            </tr>
        }
    </table>
}

        
else if(ViewBag.Bookstitle != null)
   {
        <h3>Books by this title <strong> @ViewData["TitleName"] </strong> </h3>
  
        <table class="table table-bordered table-hover">
    <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Auther</th>
            <th>Status Id</th>
            <th>Kind </th>
            <th colspan="2"> Actions </th>
    </tr>

        @foreach (var book in ViewBag.Bookstitle)
        {

            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                @if(book.StatusId == 2)
                {
                    <td style="background-color:red">Not Available</td>
                }
                else if (book.StatusId == 1)
                {
                    <td style="background-color:lightgreen"> Available</td>
                }
                <td>@book.Kind.Name</td>
                <td>
                    <button class="btn btn-info "> <a style=" text-decoration:none; color:azure; " href="/Book/Edit/@book.Id">  Edit </a> </button>

                </td>

                <td>

                    <form asp-action="Delete" asp-controller="Book" method="post">
                        <input type="hidden" name="id" value="@book.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>

            </tr>
        }
    </table>
    }
 

else if (ViewBag.Message != null)
{
    <p style="color:darkred ; font-size:30px "> <strong>@ViewBag.Message</strong></p>
}

<button class="btn btn-success ">
    <a style="text-decoration:none; color:azure;" href="/Book/AllBooks">Back to list</a>
  </button>